script(src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.1/typed.js", integrity="sha512-gzF8XoDiuj0LJF/tiCdKroMwo3c9uQ+4aB5zSWPAwmtGjcGdaT4scRzzydupXI15qVpD1PuoxRamaVOV9KnVkQ==", crossorigin="anonymous", referrerpolicy="no-referrer")
script(src="js/bootstrap.bundle.min.js")
script(src="js/main.js")