- var links = ["home", "about", "skills", "services", "portfolio", "contactme"]
- var skills = [["HTML", 90], ["CSS", 85], ["JavaScript", 60], ["JSON", 80], ["AJAX", 90], ["Bootstrap", 85],["PugJs", 80], ["SASS", 95], ["GulpJs", 65], ["Git", 80], ["Node JS", 90], ["Typescript", 95], ["PostgreSQL", 65], ["Express.js", 80], ["Jasmine", 85], ["AWS Cloud", 70], ["CircleCI", 80]]
- var performanceList = ["Smallest file possible", "It works on all types of browsers"]
- var codingList = ["Submit a Clean HTML file", "Submit a Clean Javascript file", "Submit a Clean CSS file", "Dynamic codes"]
- var deliveryList = ["Fast delivery", "Compressed version", "Inspect before receiving", "Safe delivery"]
- var mainColor = "#2196f3";